$primary: #1a9582;

// Link light theme: on hover.
// Link dark theme: default and on click.
$primary-caribbean-green: #0dc6aa;

// Link dark theme: on hover.
$primary-bright-turquoise: #00ffd8;

$primary-grey: #888888;
$primary-concrete: #f2f2f2;
$primary-widescreen-background: #c4c4c4;

$primary-black: #000000;
$primary-white: #ffffff;

// Social networks official colors
$facebook-color: #3b5998;
$vk-color: #45668e;
$twitter-color: #1da1f2;
$google-plus-color: #d34836;
$instagram-color: #517fa4;
$telegram-color: #0088cc;
$youtube-color: #bb0000;
$odnoklassniki-color: #ed812b;

$error: #e21017;
