$border-width-default: 1px;
$border-width-hover: 6px;

// TODO(uladbohdan): to refactor the file

// @mixin xxl-sizes {
//   height: 630px;
//   width: 1020px;
// }

// @mixin xl-sizes {
//   height: 504px;
//   width: 818px;
// }

@mixin l-sizes {
  height: 390px;
  width: 624px;
}

// @mixin m-sizes {
//   height: 300px;
//   width: 480px;
// }

@mixin ms-sizes {
  height: 194px;
  width: 480px;
}

@mixin square-m-sizes {
  height: 390px;
  width: 390px;
}

@mixin square-s-sizes {
  height: 300px;
  width: 300px;
}

@mixin s-wide-sizes {
  height: 194px;
  width: 426px;
}

@mixin s-sizes {
  height: 194px;
  width: 394px;
}

@mixin xs-wide-sizes {
  height: 194px;
  width: 300px;
}

@mixin xs-sizes {
  height: 194px;
  width: 232px;
}
