{
  "presets": [
    "next/babel",
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": "defaults",
          "node": true
        }
      }
    ]
  ],
  "plugins": [
    [
      "inline-import",
      {
        "extensions": [".css"]
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./"]
      }
    ],
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": false,
        "useBuiltIns": true,
        "polyfill": false
      }
    ]
  ]
}
