{
  "presets": ["next/babel", "stage-0"],
  "plugins": [
    [
      "inline-import",
      {
        "extensions": [".css"]
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./"]
      }
    ],
    ["transform-define", "./env-config.js"]
  ]
}
