[submodule "styles"]
	path = styles
	url = https://github.com/babajka/babajka-markup
[submodule "assets"]
	path = assets
	url = https://github.com/babajka/assets.git
[submodule "lib"]
	path = lib
	url = https://github.com/babajka/lib.git
