@import 'styles/responsiveness';
@import 'styles/variables';
/* stylelint-disable no-descending-specificity */

$block-spacing: 60px;
$paragraph-spacing: 24px;

$content-font-size: (
  desktop: 20px,
  tablet-large: 20px,
  tablet: 18px,
  touch: 18px,
  mobile: 16px,
);

$content-line-height: (
  desktop: 36px,
  tablet-large: 33px,
  tablet: 30px,
  touch: 30px,
  mobile: 24px,
);

.article-page {
  &__cover {
    object-fit: cover;
    object-position: 50% 0;
    width: 100%;
  }

  &__header {
    margin-bottom: 30px;
  }

  &__tags {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
  }

  &__tag-image-link {
    &:hover {
      opacity: 0.75;
    }

    &:not(:first-child) {
      margin-left: 12px;
    }
  }

  &__tag-image {
    border-radius: 2px;
    height: $tag-image-height;
  }

  &__tag-titles {
    color: $primary;
    display: flex;
    flex-direction: column;
    line-height: 24px;
    margin-left: 12px;
  }

  &__title {
    font-weight: bold;
  }

  &__authors {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 70px 0 24px;
  }

  &__author-image {
    border-radius: 3px;
    margin-right: 10px;
  }

  &__authors-names {
    font-size: 14px;
    line-height: 21px;
  }

  &__block {
    margin-top: 72px;
  }

  &__paragraph {
    margin: 0;

    &:not(:first-child) {
      margin-top: 12px;

      @include screen-touch {
        margin-top: 18px;
      }

      @include screen-tablet {
        margin-top: 21px;
      }

      @include screen-tablet-large {
        margin-top: 24px;
      }

      @include screen-desktop {
        margin-top: 24px;
      }
    }
  }

  &__share {
    margin-top: 72px;
    width: 300px;
  }

  &__other-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 72px;
  }

  &__other-tag {
    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__collection {
    border-left: 1px solid $primary-black;
    float: right;
    font-size: 16px;
    line-height: 20px;
    margin: 30px 0 20px 20px;
    padding: 0 0 10px 20px;
    width: 250px;
  }

  &__collection-cover {
    border-radius: 50%;
    float: right;
    height: 70px;
    width: 70px;
  }

  &__collection-name {
    font-weight: bold;
  }

  &__collection-items {
    > :last-child {
      // stylelint-disable-next-line declaration-no-important
      margin-bottom: 0 !important;
    }
  }

  &__collection-item {
    margin-bottom: 20px;
  }
}

@include screen-desktop {
  .article-page {
    &__subtitle {
      margin-top: 20px;
    }

    &__cover {
      margin-top: 60px;
    }

    &__header {
      margin-top: 72px;
    }

    &__title {
      font-size: 60px;
      line-height: 72px;
    }
  }
}

@include screen-tablet-large {
  .article-page {
    &__subtitle {
      margin-top: 20px;
    }

    &__cover {
      margin-top: 50px;
    }

    &__header {
      margin-top: 60px;
    }

    &__title {
      font-size: 54px;
      line-height: 69px;
    }

    &__other-tags {
      line-height: map-get($content-line-height, tablet-large);
    }
  }
}

@include screen-tablet {
  .article-page {
    &__subtitle {
      margin-top: 15px;
    }

    &__cover {
      margin-top: 40px;
    }

    &__header {
      margin-top: 50px;
    }

    &__title {
      font-size: 48px;
      line-height: 60px;
    }

    &__other-tags {
      line-height: map-get($content-line-height, tablet);
    }
  }
}

@include screen-touch {
  .article-page {
    &__subtitle {
      margin-top: 12px;
    }

    &__cover {
      margin-top: 30px;
    }

    &__header {
      margin-top: 40px;
    }

    &__title {
      font-size: 42px;
      line-height: 54px;
    }

    &__collection {
      font-size: 14px;
      line-height: 18px;
      margin-top: 24px;
      width: 200px;
    }

    &__collection-item {
      margin-bottom: 10px;
    }

    &__other-tags {
      line-height: map-get($content-line-height, touch);
    }
  }
}

@include screen-mobile {
  .article-page {
    &__subtitle {
      margin-top: 10px;
    }

    &__cover {
      margin-top: 30px;
    }

    &__header {
      margin-top: 30px;
    }

    &__title {
      font-size: 36px;
      line-height: 42px;
    }

    &__collection {
      float: unset;
      font-size: 14px;
      line-height: 18px;
      margin: 30px 0 20px 10px;
    }

    &__collection-item {
      margin-bottom: 8px;
    }

    &__other-tags {
      line-height: map-get($content-line-height, mobile);
    }
  }
}

.article-page-interactive {
  margin-top: 30px;

  @include screen-touch {
    margin-top: 40px;
  }

  @include screen-tablet {
    margin-top: 50px;
  }

  @include screen-tablet-large {
    margin-top: 60px;
  }

  @include screen-desktop {
    margin-top: 72px;
  }

  &__video {
    height: 200px;

    @include screen-touch {
      height: 200px;
    }

    @include screen-tablet {
      height: 300px;
    }

    @include screen-tablet-large {
      height: 400px;
    }

    @include screen-desktop {
      height: 600px;
    }
  }
}

.article-page-content {
  font-size: map-get($content-font-size, mobile);
  font-style: normal;
  font-weight: normal;
  line-height: map-get($content-line-height, mobile);

  @include screen-touch {
    font-size: map-get($content-font-size, touch);
    line-height: map-get($content-line-height, touch);
  }

  @include screen-tablet {
    font-size: map-get($content-font-size, tablet);
    line-height: map-get($content-line-height, tablet);
  }

  @include screen-tablet-large {
    font-size: map-get($content-font-size, tablet-large);
    line-height: map-get($content-line-height, tablet-large);
  }

  @include screen-desktop {
    font-size: map-get($content-font-size, desktop);
    line-height: map-get($content-line-height, desktop);
  }

  p {
    margin-top: 12px;

    @include screen-touch {
      margin-top: 18px;
    }

    @include screen-tablet {
      margin-top: 21px;

      br {
        display: none;
      }
    }

    @include screen-tablet-large {
      margin-top: $paragraph-spacing;

      br {
        display: none;
      }
    }

    @include screen-desktop {
      margin-top: $paragraph-spacing;

      br {
        display: none;
      }
    }
  }

  h2 {
    margin-top: 70px;
  }

  h3 {
    margin-top: $block-spacing;
  }

  h4 {
    margin-bottom: 0;
    margin-top: $block-spacing;

    // stylelint-disable-next-line scss/selector-no-redundant-nesting-selector
    & + p {
      margin-top: 0;
    }
  }

  &__hard {
    height: 48px;
  }
}

.article-ordered {
  margin: 0;

  li {
    margin-top: 24px;
  }
}

.right-element {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 10px;
  margin-left: 30px;
  width: 240px;

  @include screen-touch {
    margin-left: 60px;
  }

  @include screen-tablet {
    float: right;
    margin-left: 30px;
  }

  @include screen-tablet-large {
    float: right;
    margin-left: 30px;
  }

  @include screen-desktop {
    float: right;
    margin-left: 30px;
  }

  .article-ordered {
    padding-left: 24px;

    li {
      margin-top: 0;
    }
  }

  &.article-table,
  &.article-image {
    margin-bottom: 0;
    margin-top: 0;

    @include mobile {
      margin-bottom: 20px;
      margin-top: 20px;
    }

    @include touch {
      margin-bottom: 20px;
      margin-top: 20px;
    }
  }
}

.article-note {
  line-height: 24px;

  th {
    text-align: left;
  }

  h1 {
    font-size: 72px;
    font-weight: bold;
    line-height: 72px;
    margin: 0;
  }

  p {
    margin: 0;
  }

  li {
    margin: 0;
  }
}

.article-image {
  display: block;
  margin-bottom: $block-spacing;
  margin-top: $block-spacing;

  &__image {
    object-position: 50% 0;
    width: 100%;
  }

  &__caption {
    font-size: 14px;
    line-height: 18px;
    margin-top: 9px;
  }
}

.article-quote {
  margin: $block-spacing 0;

  &__text {
    border-left: 1px solid #000000;
    font-size: 20px;
    line-height: 32px;
    padding-left: 20px;

    @include screen-touch {
      font-size: 24px;
      line-height: 36px;
      padding-left: 24px;
    }

    @include screen-tablet {
      font-size: 24px;
      line-height: 36px;
      padding-left: 24px;
    }

    @include screen-tablet-large {
      font-size: 30px;
      line-height: 42px;
      padding-left: 30px;
    }

    @include screen-desktop {
      font-size: 30px;
      line-height: 42px;
      padding-left: 30px;
    }
  }

  &__caption {
    font-size: 12px;
    line-height: 20px;
    margin-top: 8px;

    @include screen-touch {
      font-size: 14px;
      line-height: 22px;
      margin-top: 10px;
    }

    @include screen-tablet {
      font-size: 14px;
      line-height: 22px;
      margin-top: 10px;
    }

    @include screen-tablet-large {
      font-size: 16px;
      line-height: 24px;
      margin-top: 12px;
    }

    @include screen-desktop {
      font-size: 16px;
      line-height: 24px;
      margin-top: 12px;
    }
  }
}

.article-table {
  display: flex;
  margin: $block-spacing 0;

  th {
    border-bottom: 0.25px solid $primary-grey-article-table;
    padding-bottom: 17px;
    text-align: left;
  }

  td {
    border-bottom: 0.25px solid $primary-grey-article-table;
    padding: 17px 0;
  }

  p {
    margin: 0;
    padding: 0;
  }
}

.article-unordered {
  list-style: none;
  margin: 0;

  li {
    margin-top: 24px;

    &::before {
      content: '—  ';
      margin-left: -25px;
    }
  }

  p {
    display: inline;
    margin: 0;
    padding: 0;
  }
}

.article-poem {
  margin-bottom: $block-spacing;
  width: 100%;

  p {
    margin: auto;
    text-align: left;
    width: 50%;
  }
}

.article-split {
  margin: $block-spacing 0;

  tr {
    display: flex;
    justify-content: flex-start;
  }

  td {
    width: 50%;
  }

  p {
    margin: 0;
    padding: 0;
  }
}
