@import 'responsiveness';
@import 'variables';

.article-page {
  &__subtitle {
    margin-top: 10px;

    @include screen-touch {
      margin-top: 12px;
    }

    @include screen-tablet {
      margin-top: 15px;
    }

    @include screen-tablet-large {
      margin-top: 20px;
    }

    @include screen-desktop {
      margin-top: 20px;
    }
  }

  &__cover {
    margin-top: 30px;
    object-fit: cover;
    object-position: 50% 0;
    width: 100%;

    @include screen-touch {
      margin-top: 30px;
    }

    @include screen-tablet {
      margin-top: 40px;
    }

    @include screen-tablet-large {
      margin-top: 50px;
    }

    @include screen-desktop {
      margin-top: 60px;
    }
  }

  &__header {
    margin-bottom: 30px;
    margin-top: 30px;

    @include screen-touch {
      margin-top: 40px;
    }

    @include screen-tablet {
      margin-top: 50px;
    }

    @include screen-tablet-large {
      margin-top: 60px;
    }

    @include screen-desktop {
      margin-top: 72px;
    }
  }

  &__tags {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
  }

  &__tag-image-link {
    &:hover {
      opacity: 0.75;
    }

    &:not(:first-child) {
      margin-left: 12px;
    }
  }

  &__tag-image {
    border-radius: 2px;
    height: $tag-image-height;
  }

  &__tag-titles {
    color: $primary;
    display: flex;
    flex-direction: column;
    line-height: 24px;
    margin-left: 12px;
  }

  &__title {
    font-size: 36px;
    font-weight: bold;
    line-height: 42px;

    @include screen-touch {
      font-size: 42px;
      line-height: 54px;
    }

    @include screen-tablet {
      font-size: 48px;
      line-height: 60px;
    }

    @include screen-tablet-large {
      font-size: 54px;
      line-height: 69px;
    }

    @include screen-desktop {
      font-size: 60px;
      line-height: 72px;
    }
  }

  &__authors {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 70px 0 24px;
  }

  &__author-image {
    border-radius: 3px;
    margin-right: 10px;
  }

  &__authors-names {
    font-size: 14px;
    line-height: 21px;
  }

  &__block {
    margin-top: 72px;
  }

  &__paragraph {
    margin: 0;

    &:not(:first-child) {
      margin-top: 12px;

      @include screen-touch {
        margin-top: 18px;
      }

      @include screen-tablet {
        margin-top: 21px;
      }

      @include screen-tablet-large {
        margin-top: 24px;
      }

      @include screen-desktop {
        margin-top: 24px;
      }
    }
  }

  &__share {
    margin-top: 72px;
    width: 200px;
  }

  &__other-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 72px;
  }

  &__other-tag {
    margin-bottom: 4px;

    &:not(:last-child) {
      margin-right: 12px;
    }
  }
}

.article-page-interactive {
  margin-top: 30px;

  @include screen-touch {
    margin-top: 40px;
  }

  @include screen-tablet {
    margin-top: 50px;
  }

  @include screen-tablet-large {
    margin-top: 60px;
  }

  @include screen-desktop {
    margin-top: 72px;
  }

  &__video {
    height: 200px;

    @include screen-touch {
      height: 200px;
    }

    @include screen-tablet {
      height: 300px;
    }

    @include screen-tablet-large {
      height: 400px;
    }

    @include screen-desktop {
      height: 600px;
    }
  }
}

.article-page-content {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;

  @include screen-touch {
    font-size: 18px;
    line-height: 30px;
  }

  @include screen-tablet {
    font-size: 18px;
    line-height: 30px;
  }

  @include screen-tablet-large {
    font-size: 20px;
    line-height: 33px;
  }

  @include screen-desktop {
    font-size: 20px;
    line-height: 36px;
  }

  p {
    margin-top: 12px;

    @include screen-touch {
      margin-top: 18px;
    }

    @include screen-tablet {
      margin-top: 21px;

      br {
        display: none;
      }
    }

    @include screen-tablet-large {
      margin-top: 24px;

      br {
        display: none;
      }
    }

    @include screen-desktop {
      margin-top: 24px;

      br {
        display: none;
      }
    }
  }

  &__hard {
    height: 48px;
  }

  &__right-element {
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    margin: 0;
    margin-bottom: 10px;
    margin-left: 30px;
    width: 240px;

    @include screen-touch {
      margin-left: 60px;
    }

    @include screen-tablet {
      float: right;
      margin-left: 30px;
    }

    @include screen-tablet-large {
      float: right;
      margin-left: 30px;
    }

    @include screen-desktop {
      float: right;
      margin-left: 30px;
    }
  }
}

.article-image {
  &__image {
    object-position: 50% 0;
    width: 100%;
  }

  &__caption {
    font-size: 14px;
    line-height: 18px;
    margin-top: 9px;
  }
}

.article-quote {
  margin: 0;

  &__text {
    border-left: 1px solid #000000;
    font-size: 20px;
    line-height: 32px;
    padding-left: 20px;

    @include screen-touch {
      font-size: 24px;
      line-height: 36px;
      padding-left: 24px;
    }

    @include screen-tablet {
      font-size: 24px;
      line-height: 36px;
      padding-left: 24px;
    }

    @include screen-tablet-large {
      font-size: 30px;
      line-height: 42px;
      padding-left: 30px;
    }

    @include screen-desktop {
      font-size: 30px;
      line-height: 42px;
      padding-left: 30px;
    }
  }

  &__caption {
    font-size: 12px;
    line-height: 20px;
    margin-top: 8px;

    @include screen-touch {
      font-size: 14px;
      line-height: 22px;
      margin-top: 10px;
    }

    @include screen-tablet {
      font-size: 14px;
      line-height: 22px;
      margin-top: 10px;
    }

    @include screen-tablet-large {
      font-size: 16px;
      line-height: 24px;
      margin-top: 12px;
    }

    @include screen-desktop {
      font-size: 16px;
      line-height: 24px;
      margin-top: 12px;
    }
  }
}

.article-table {
  display: flex;

  th {
    border-bottom: 0.25px solid #cccccc;
    padding-bottom: 17px;
    text-align: left;
  }

  td {
    border-bottom: 0.25px solid #cccccc;
    padding: 17px 0;
  }

  p {
    margin: 0;
    padding: 0;
  }
}

.article-unordered {
  list-style: none;
  margin: 0;

  &__item {
    margin-top: 24px;

    &::before {
      content: '—  ';
      margin-left: -25px;
    }
  }

  p {
    display: inline;
    margin: 0;
    padding: 0;
  }
}
