@import 'responsiveness';
@import 'variables';

.tag-page {
  padding: 3rem 6rem 3rem 3rem;

  &__level-a,
  &__level-b,
  &__level-c,
  &__level-d {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 2rem;
  }

  &__topic {
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
  }

  &__title {
    font-size: 48px;
    font-weight: bold;
    line-height: 60px;
    padding-bottom: 20px;
  }
}

@mixin shared-desktop {
  .tag-page {
    padding-left: calc((100% - 1020px) / 3);
    padding-right: calc((100% - 1020px) * 2 / 3);
  }
}

@include screen-desktop {
  @include shared-desktop;
}

@mixin screens-below-desktop {
  .tag-page {
    &__level-b,
    &__level-c {
      padding-bottom: 0;
    }

    &__card {
      padding-bottom: 25px;
    }
  }
}

@include screen-touch {
  @include screens-below-desktop;

  .tag-page {
    padding-left: calc((100% - 480px) / 3);
    padding-right: calc((100% - 480px) * 2 / 3);
  }
}

@include screen-mobile {
  @include screens-below-desktop;

  .tag-page {
    padding-left: calc((100% - 300px) / 3);
    padding-right: calc((100% - 300px) * 2 / 3);
  }
}

@include screen-tablet {
  @include screens-below-desktop;

  .tag-page {
    padding-left: calc((100% - 624px) / 3);
    padding-right: calc((100% - 624px) * 2 / 3);
  }
}

@include screen-tablet-large {
  @include screens-below-desktop;

  .tag-page {
    padding-left: calc((100% - 624px) / 3);
    padding-right: calc((100% - 624px) * 2 / 3);
  }
}

// Sizes below should be shared across the project and not copied.
// TODO: to refactor.

@include desktop {
  // This is only applied for desktop as these classes are used to produce
  // fake (placeholder) cards. We only do that on desktop.
  .size-l {
    height: 390px;
    width: 624px;
  }

  .size-m {
    height: 300px;
    width: 480px;
  }

  .size-square-s {
    height: 300px;
    width: 300px;
  }
}
