@import 'responsiveness';
@import 'variables';

.topics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  &__column {
    max-width: 300px;
  }

  &__section-list {
    color: $primary;
    font-size: 14px;
    margin: 0;
    padding: 0;
    padding-inline-start: 0;
  }

  &__section-image {
    padding-bottom: 10px;
  }

  &__section-list-item {
    list-style: none;
    padding: 10px 0;
  }

  &__section-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    padding-bottom: 10px;
    padding-top: 40px;
  }
}
