@import './blocks';

.articles-by-tag-3 {
  &__title {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 21px;
    text-transform: uppercase;
  }

  &__combined-title-line {
    border-bottom: solid 1px $primary-grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 25px;
  }

  &__separate-header {
    border-top: solid 1px $primary-grey;
    padding: 15px 0;
    text-align: center;
  }

  &__separate-footer {
    padding: 15px 0;
    text-align: center;
  }

  &__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.screen-desktop {
  .articles-by-tag-3 {
    &__separate-header {
      display: none;
    }

    &__separate-footer {
      display: none;
    }

    &__cards {
      margin-top: 40px;
    }
  }
}

.screen-tablet-large,
.screen-tablet {
  .articles-by-tag-3 {
    &__separate-header {
      display: none;
    }

    &__separate-footer {
      display: none;
    }

    &__cards {
      margin-top: 40px;
    }

    &__card-3 {
      display: none;
    }
  }
}

.screen-touch,
.screen-mobile {
  .articles-by-tag-3 {
    &__combined-title-line {
      display: none;
    }

    &__card-2 {
      display: none;
    }

    &__card-3 {
      display: none;
    }
  }
}
