@import 'responsiveness';
@import 'variables';

.articles-by-tag-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 120px;
  }

  &__label {
    color: $primary-white;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
    width: 100%;
  }

  &__bottom-mobile-label {
    margin: 45px 0;
    width: 100%;
  }

  &__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@include desktop {
  // .screen-desktop {
  .articles-by-tag-2 {
    padding-bottom: 62px;
    padding-top: 42px;
    width: 1020px;

    &__bottom-labels {
      display: none;
    }

    &__bottom-mobile-label {
      display: none;
    }

    &__labels {
      &--right {
        order: 1;
      }
    }

    &__cards {
      width: 840px; // 390 + 390 + 60
    }
  }
}

@mixin shared1 {
  .articles-by-tag-2 {
    padding-bottom: 59px;
    padding-top: 36px;

    &__bottom-labels {
      display: none;
    }

    &__bottom-mobile-label {
      display: none;
    }

    &__labels {
      &--right {
        order: 1;
      }
    }

    &__card-2 {
      display: none;
    }
  }
}

@include screen-tablet-large {
  @include shared1;
}

@include screen-tablet {
  @include shared1;
}

@include screen-tablet-large {
  .articles-by-tag-2 {
    width: 818px;
  }
}

@include screen-tablet {
  // .screen-tablet {
  .articles-by-tag-2 {
    width: 624px;
  }
}

@mixin same-piece-of-code {
  .articles-by-tag-2 {
    flex-direction: column;

    &__labels {
      width: 100%;
    }

    &__bottom-labels {
      width: 100%;
    }

    &__top-mobile-labels {
      margin: 45px 0;
    }

    &__bottom-desktop-label {
      display: none;
    }

    // ALERT HACK.
    &__card1 {
      margin: 20px 0;
    }

    &__card-2 {
      display: none;
    }
  }
}

@include screen-touch {
  @include same-piece-of-code;
}

@include screen-mobile {
  @include same-piece-of-code;
}

@include screen-touch {
  // .screen-touch {
  .articles-by-tag-2 {
    width: 480px;

    &__labels,
    &__bottom-labels {
      text-align: left;
    }
  }
}

@include screen-mobile {
  // .screen-mobile {
  .articles-by-tag-2 {
    width: 300px;

    &__labels,
    &__bottom-labels {
      text-align: center;
    }
  }
}
