@import 'responsiveness';
@import 'variables';

.banner {
  position: relative;

  img {
    cursor: pointer;
    width: 100%;
  }

  &__title {
    color: $primary-black;
    font-size: 36px;
    font-style: normal;
    font-weight: bold;
    line-height: 36px;
    position: absolute;
  }
}

.banner-mapa {
  &__title {
    @include screen-desktop {
      height: 108px;
      left: 330px;
      top: 38px;
      width: 213px;
    }

    @include screen-tablet-large {
      height: 108px;
      left: 325px;
      top: 38px;
      width: 213px;
    }

    @include screen-tablet {
      height: 108px;
      left: 300px;
      top: 38px;
      width: 213px;
    }

    @include screen-touch {
      font-size: 20px;
      height: 81px;
      left: 290px;
      line-height: 27px;
      top: 40px;
      width: 138px;
    }

    @include screen-mobile {
      font-size: 20px;
      height: 54px;
      left: 35px;
      line-height: 27px;
      top: 50px;
      width: 220px;
    }
  }
}
