@import 'variables';

.block {
  &__no-background {
    margin-top: 60px;
  }

  &__with-background {
    background-color: $primary-black;
    margin-bottom: 20px;
    margin-top: 80px;
  }
}

.screen-desktop {
  .block {
    padding-left: calc((100% - 1020px) / 3);
    padding-right: calc((100% - 1020px) * 2 / 3);
  }
}

.screen-tablet-large {
  .block {
    padding-left: calc((100% - 818px) / 3);
    padding-right: calc((100% - 818px) * 2 / 3);
  }
}

.screen-tablet {
  .block {
    padding-left: calc((100% - 624px) / 3);
    padding-right: calc((100% - 624px) * 2 / 3);
  }
}

.screen-touch {
  .block {
    padding-left: calc((100% - 480px) / 3);
    padding-right: calc((100% - 480px) * 2 / 3);
  }
}

.screen-mobile {
  .block {
    padding-left: calc((100% - 300px) / 3);
    padding-right: calc((100% - 300px) * 2 / 3);
  }
}
