@import 'styles/responsiveness';
@import 'styles/variables';

.article-page-interactive {
  margin-top: 30px;

  @include screen-touch {
    margin-top: 40px;
  }

  @include screen-tablet {
    margin-top: 50px;
  }

  @include screen-tablet-large {
    margin-top: 60px;
  }

  @include screen-desktop {
    margin-top: 72px;
  }

  &__video {
    height: 200px;

    @include screen-touch {
      height: 200px;
    }

    @include screen-tablet {
      height: 300px;
    }

    @include screen-tablet-large {
      height: 400px;
    }

    @include screen-desktop {
      height: 600px;
    }
  }

  &__coub {
    height: 200px;
    width: 200px;

    @include screen-touch {
      height: 240px;
      width: 240px;
    }

    @include screen-tablet {
      height: 300px;
      width: 300px;
    }

    @include screen-tablet-large {
      height: 360px;
      width: 360px;
    }

    @include screen-desktop {
      height: 480px;
      width: 480px;
    }
  }

  &__content-unavailable {
    text-decoration: underline solid $primary-warning;
  }

  &__audio-buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 150px;
    justify-content: space-between;
    margin-bottom: 30px;

    @include screen-touch {
      height: 165px;
      margin-bottom: 40px;
    }

    @include screen-tablet {
      flex-direction: row;
      height: unset;
      justify-content: start;
      margin-bottom: 50px;
    }

    @include screen-tablet-large {
      flex-direction: row;
      height: unset;
      justify-content: start;
      margin-bottom: 60px;
    }

    @include screen-desktop {
      flex-direction: row;
      height: unset;
      justify-content: start;
      margin-bottom: 72px;
    }
  }

  &__audio-button {
    margin-right: 15px;
  }

  &__audio-button-image {
    height: 40px;

    @include screen-touch {
      height: 45px;
    }

    @include screen-tablet {
      height: 50px;
    }

    @include screen-tablet-large {
      height: 50px;
    }

    @include screen-desktop {
      height: 50px;
    }
  }
}
