@import 'styles/variables';

.button-group {
  display: flex;
  font-size: 0.8rem;
  position: relative;

  &__icon {
    button {
      flex-basis: auto;
      flex-grow: 1;
    }
  }

  button {
    background-color: $primary-white;
    border: 1px solid $primary-grey;
    border-left: 0;
    float: left;
    outline: none;
    text-align: center;

    &:hover {
      background-color: $primary-white;
      box-shadow: inset 0 0 1px $primary-grey;
      cursor: pointer;
    }

    &:first-child {
      border-bottom-left-radius: 5px;
      border-left: 1px solid $primary-grey;
      border-top-left-radius: 5px;
    }

    &:last-child {
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
}
