@import 'styles/variables';

.image-slider {
  text-decoration: none;

  &__button-navigation {
    color: $primary-grey;
  }

  &__subtitle {
    text-align: center;
  }

  &__slide {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__slide-image {
    display: block;
    flex-grow: 1;
    height: auto;
    max-height: 500px;
    max-width: 80vw;
    object-fit: contain;
    width: auto;
  }

  &__slide-description {
    text-decoration: none;
  }
}
