@import 'variables';

.wir-link {
  color: $primary;
  cursor: pointer;
  text-decoration: none;

  &--theme-dark {
    color: $primary-caribbean-green;

    &:link,
    &:visited {
      color: $primary-caribbean-green;
    }

    &:hover {
      color: $primary-bright-turquoise;
    }
  }

  &__icon {
    align-items: center;
    display: inline-flex;
    font-size: 20px;
    height: 1.5rem;
    justify-content: center;
    width: 1.5rem;
  }

  &:link,
  &:visited {
    color: $primary;
  }

  &:hover {
    color: $primary-caribbean-green;
  }

  &:focus {
    outline: none;
  }

  &--disabled {
    opacity: 0.2;
    pointer-events: none;
  }

  // FIXME: add proper active styles, solve `important` (problem with :link)
  &--active {
    // stylelint-disable-next-line declaration-no-important
    color: #45565b !important;
    font-weight: bold;
  }
}
