@import 'responsiveness';

@import '../cards';

.collection {
  border-radius: 3px;
  color: #ffffff;
  display: flex;
  flex-direction: row;

  &.theme-dark {
    color: #000000;
  }

  &__cover {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
  }

  &__content-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__collection-name {
    font-weight: bold;
  }

  &__aux-image {
    border-radius: 50%;
    height: 68px;
    margin-left: 24px;
    min-width: 68px;
  }

  &__title {
    font-weight: bold;
  }

  &__author {
    font-size: 14px;
    line-height: 21px;
  }
}

@mixin shared-size-xxl {
  .collection {
    @include xxl-sizes;

    &__cover-wrapper {
      max-width: 390px;
      min-width: 390px;
    }

    &__content {
      padding: 31px 58px 66px 30px;
    }

    &__collection {
      font-size: 20px;
      line-height: 36px;
    }

    &__title {
      font-size: 60px;
      line-height: 72px;
    }

    &__author {
      margin-top: 24px;
    }
  }
}

.size-xxl {
  @include shared-size-xxl;
}

@mixin shared-size-xl {
  .collection {
    @include xl-sizes;

    &__cover-wrapper {
      max-width: 313px;
      min-width: 313px;
    }

    &__content {
      padding: 25px 59px 42px 23px;
    }

    &__collection {
      font-size: 20px;
      line-height: 24px;
    }

    &__title {
      font-size: 60px;
      line-height: 72px;
    }

    &__author {
      margin-top: 24px;
    }
  }
}

.size-xl {
  @include shared-size-xl;
}

@mixin shared-size-l {
  .collection {
    @include l-sizes;

    &__cover-wrapper {
      max-width: 240px;
      min-width: 240px;
    }

    &__content {
      padding: 30px 40px 42px 30px;
    }

    &__collection {
      font-size: 20px;
      line-height: 27px;
    }

    &__title {
      font-size: 30px;
      line-height: 36px;
    }

    &__author {
      margin-top: 18px;
    }
  }
}

.size-l {
  @include shared-size-l;
}

@mixin shared-size-m {
  .collection {
    @include m-sizes;

    &__cover-wrapper {
      max-width: 186px;
      min-width: 186px;
    }

    &__content {
      padding: 30px 28px 42px 24px;
    }

    &__collection {
      font-size: 14px;
      line-height: 21px;
    }

    &__title {
      font-size: 30px;
      line-height: 36px;
    }

    &__author {
      margin-top: 12px;
    }
  }
}

.size-m {
  @include shared-size-m;
}

@mixin shared-size-square-m {
  .collection {
    @include square-m-sizes;

    &__content {
      padding: 25px 50px 42px 39px;
    }

    &__collection {
      font-size: 14px;
      line-height: 21px;
    }

    &__title {
      font-size: 30px;
      line-height: 36px;
    }

    &__author {
      margin-top: 12px;
    }
  }
}

.size-square-m {
  @include shared-size-square-m;
}

@mixin shared-size-square-s {
  .collection {
    @include square-s-sizes;

    &__content {
      padding: 19px 29px 42px 30px;
    }

    &__collection {
      font-size: 14px;
      line-height: 21px;
    }

    &__title {
      font-size: 30px;
      line-height: 36px;
    }

    &__author {
      margin-top: 12px;
    }
  }
}

.size-square-s {
  @include shared-size-square-s;
}

// Rules below are duplicated from article.scss

.featured {
  @include screen-desktop {
    @include shared-size-xxl;
  }

  @include screen-tablet-large {
    @include shared-size-xl;
  }

  @include screen-tablet {
    @include shared-size-l;
  }

  @include screen-touch {
    @include shared-size-m;
  }

  @include screen-mobile {
    @include shared-size-square-s;
  }
}

.two-in-row {
  @include screen-desktop {
    @include shared-size-m;
  }

  @include screen-tablet {
    @include shared-size-l;
  }

  @include screen-touch {
    @include shared-size-m;
  }

  @include screen-mobile {
    @include shared-size-square-s;
  }

  &__first {
    @include screen-tablet-large {
      @include shared-size-m;
    }
  }

  &__second {
    @include screen-tablet-large {
      @include shared-size-square-s;
    }
  }
}

.articles-by-tag-2 {
  @include screen-desktop {
    @include shared-size-square-m;
  }

  @include screen-tablet-large {
    @include shared-size-l;
  }

  @include screen-tablet {
    @include shared-size-square-m;
  }

  @include screen-touch {
    @include shared-size-m;
  }

  @include screen-mobile {
    @include shared-size-square-s;
  }
}

.articles-by-tag-3 {
  @include screen-desktop {
    @include shared-size-square-s;
  }

  @include screen-tablet-large {
    @include shared-size-square-m;
  }

  @include screen-tablet {
    @include shared-size-square-s;
  }

  @include screen-touch {
    @include shared-size-m;
  }

  @include screen-mobile {
    @include shared-size-square-s;
  }
}
