@import 'variables';

.stub-page,
.error-page {
  font-family: 'Open Sans', sans-serif;
  padding: 4rem 1rem;
  text-align: center;

  a:link,
  a:visited {
    color: inherit;
  }

  .logo {
    margin-bottom: 1rem;
    width: 8rem;
  }

  .title {
    font-size: 2.5rem;
    font-weight: 300;
  }

  .title-alt {
    // FIXME(uladbohdan)
    // color: $primary-darkgray;
    color: #808080;
    font-size: 1.6rem;
    font-weight: 300;
  }

  .subtitle {
    font-size: 1.2rem;
    font-weight: 300;
  }

  .links {
    font-size: 1.2rem;
    font-weight: 300;
  }

  .links-alignment {
    display: inline-block;
    vertical-align: middle;
  }

  .button {
    font-size: 1.3rem;
  }

  .social {
    font-size: 2rem;

    i {
      margin: 0 0.7rem;

      // FIXME(uladbohdan)
      // @include touch {
      //   margin: 0 0.4rem;
      // }
    }

    .facebook:hover {
      color: $facebook-color;
    }

    .vk:hover {
      color: $vk-color;
    }

    .twitter:hover {
      color: $twitter-color;
    }

    .telegram:hover {
      color: $telegram-color;
    }

    .youtube:hover {
      color: $youtube-color;
    }

    .instagram:hover {
      color: $instagram-color;
    }
  }
}
