@import 'variables';

.wir-social-buttons {
  border: 1px solid $primary-grey;
  border-radius: 5px;
  overflow: hidden;
  position: relative;

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -1px;
  }

  &__item {
    border-left: 1px solid $primary-grey;
    flex-basis: auto;
    flex-grow: 1;
    width: 2rem;

    &:hover {
      box-shadow: inset 0 0 1px $primary-grey;
      cursor: pointer;
    }
  }

  &__button {
    font-size: 1.3rem;
    padding: 0.3rem;
    text-align: center;

    &--facebook {
      color: $facebook-color;
    }

    &--vk {
      color: $vk-color;
    }

    &--twitter {
      color: $twitter-color;
    }

    &--odnoklassniki {
      color: $odnoklassniki-color;
    }
  }
}
