.admin-panel {
  padding: 0 90px 60px;

  &__grid {
    display: flex;

    &-aside {
      flex: 0 0 auto;
      padding-right: 20px;
      width: 100px;
    }

    &-main {
      flex: 1 1 auto;
      font-size: 0.9rem;
    }
  }
}
