@import 'variables';

.login-form {
  width: 100%;

  &__title {
    color: #333333;
    display: block;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
  }

  &__logo {
    text-align: center;
  }

  &__input {
    border-radius: 5px;
    color: #555555;
    display: block;
    font-size: 15px;
    height: 45px;
    line-height: 1.2;
    padding: 0 5px;
    width: 100%;

    &-wrap {
      margin-bottom: 37px;
      position: relative;
      width: 100%;
    }

    &-label {
      color: $primary;
    }

    &-error {
      border-color: $error;
    }

    &-error-message {
      color: $error;
      margin: 0;
    }
  }

  &__btn {
    align-items: center;
    border-radius: 25px;
    color: #ffffff;
    cursor: pointer;
    font-size: 15px;
    height: 50px;
    line-height: 1.2;
    padding: 0 20px;
    text-transform: uppercase;
    width: 100%;

    &-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 13px;
    }

    &-wrap {
      display: block;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
      width: 100%;
    }
  }
}
