@import 'styles/variables';
@import 'styles/responsiveness';

.error-message {
  padding: 1.5rem 2rem 3rem;

  @include desktop {
    padding: 3rem;
  }

  &__title {
    font-size: 2.5rem;
    margin: 1rem 0;

    @include touch {
      font-size: 3.5rem;
    }
  }

  &__code {
    color: $primary-dark;
    font-weight: 700;
  }

  &__subtitle {
    font-size: 1.25rem;
    margin: 2rem 0 1rem;
  }

  &__go-to-main {
    font-size: 1.2rem;
    margin: 2rem 0;
  }

  &__social-buttons {
    color: $primary-black;
    display: flex;
    flex-direction: row;
    font-size: 1.75rem;
    justify-content: flex-start;
    margin: 2rem 0;
  }

  &__social-button {
    margin-right: 0.75rem;
  }

  &__contact-us {
    margin-top: 1rem;
  }
}
