@import 'responsiveness';
@import 'variables';

@import './cards';

.article-card {
  color: $primary-white;
  display: flex;

  &__cover-container {
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
  }

  &.theme-dark > &__cover-container {
    margin-left: $theme-dark-border-width;
    margin-top: $theme-dark-border-width;
  }

  &:hover > &__cover-container {
    margin-left: $hover-border-width;
    margin-top: $hover-border-width;
  }

  &__cover {
    display: inline-block;
    position: absolute;

    &--horizontal {
      display: none;
    }

    &--vertical {
      display: none;
    }
  }

  &.theme-dark > &__cover-container > &__cover {
    left: -($theme-dark-border-width);
    top: -($theme-dark-border-width);
  }

  &:hover > &__cover-container > &__cover {
    left: -($hover-border-width);
    top: -($hover-border-width);
  }

  &__content {
    bottom: 0;
    display: flex;
    flex-direction: column;
    max-height: 100%;
  }

  &__collection-container {
    display: flex;
    flex-direction: row;
  }

  &__collection-content {
    flex-grow: 1;
  }

  &__collection-name {
    font-weight: bold;
  }

  &__collection-cover {
    border-radius: 50%;
  }

  &__title {
    font-weight: bold;
    overflow: hidden;
  }

  &__description-container {
    overflow: hidden;
    position: relative;
  }

  &__description {
    overflow: hidden;
  }

  &__interactive-icon {
    margin-right: 1rem;
  }

  &__filler {
    display: none;
    flex-grow: 1;
  }

  &--with-collection > &__content > &__filler--top {
    display: unset;
  }

  &__author-brand {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    &--placed-middle {
      display: none;
    }

    &--placed-bottom {
      display: none;
    }
  }

  &__brand {
    max-height: 48px;
    width: 48px;
  }

  &__label-read-full {
    display: none;
  }
}

@mixin shared-sizes-xxl-xl-l {
  .article-card {
    flex-direction: row;

    &__cover {
      &--vertical {
        display: unset;
      }
    }

    &__collection-container {
      margin-top: 24px;
    }

    &__collection-order {
      font-size: 20px;
      line-height: 36px;
    }

    &__collection-name {
      font-size: 20px;
      line-height: 27px;
    }

    &__collection-cover {
      height: 70px;
      width: 70px;
    }

    &__filler--middle {
      display: unset;
    }
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .article-card--with-collection > .article-card__content > .article-card__filler--middle {
    display: none;
  }
}

@mixin shared-size-xxl {
  // TODO: to consider extracting more values into variables.
  $card-height: 630px;
  $card-width: 1020px;
  $cover-height: $card-height;
  $cover-width: 390px;

  @include shared-sizes-xxl-xl-l;

  .article-card {
    height: $card-height;
    width: $card-width;

    &__cover-container {
      height: $cover-height;
      width: $cover-width;
    }

    &__cover {
      height: $cover-height;
      width: $cover-width;
    }

    &__content {
      padding: 0 60px 0 30px;
    }

    &__title {
      font-size: 60px;
      line-height: 66px;
      margin-bottom: 30px;
      margin-top: 24px;
      max-height: 66px * 3;
    }

    &__description-container {
      font-size: 20px;
      line-height: 36px;
    }

    &__description {
      max-height: 36px * 6;
    }

    &__author-brand {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 60px;
    }

    &__brand {
      margin-right: 20px;
    }
  }

  // Rules below do not get applied when embedded into .article-card {}.
  // This is due to inclusion of .card-size-X class through &.
  // The may be fixed using @at-root. Same applies for mixins below.

  /* stylelint-disable-next-line selector-class-pattern */
  .article-card.theme-dark > .article-card__cover-container {
    height: $cover-height - 2 * $theme-dark-border-width;
    width: $cover-width - $theme-dark-border-width;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .article-card:hover > .article-card__cover-container {
    height: $cover-height - 2 * $hover-border-width;
    width: $cover-width - $hover-border-width;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .article-card--with-brand > .article-card__content > .article-card__author-brand {
    margin-bottom: 48px;
  }
}

.card-size-xxl {
  @include shared-size-xxl;
}

@mixin shared-size-xl {
  $card-height: 504px;
  $card-width: 818px;
  $cover-height: $card-height;
  $cover-width: 313px;

  @include shared-sizes-xxl-xl-l;

  .article-card {
    height: $card-height;
    width: $card-width;

    &__cover-container {
      height: $cover-height;
      width: $cover-width;
    }

    &__cover {
      height: $cover-height;
      width: $cover-width;
    }

    &__content {
      padding: 0 62px 0 24px;
    }

    &__title {
      font-size: 48px;
      line-height: 60px;
      margin-bottom: 30px;
      margin-top: 24px;
      max-height: 60px * 3;
    }

    &__description-container {
      font-size: 14px;
      line-height: 24px;
    }

    &__description {
      max-height: 36px * 7;
    }

    &__author-brand {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 48px;
    }

    &__brand {
      margin-right: 15px;
    }
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .article-card.theme-dark > .article-card__cover-container {
    height: $cover-height - 2 * $theme-dark-border-width;
    width: $cover-width - $theme-dark-border-width;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .article-card:hover > .article-card__cover-container {
    height: $cover-height - 2 * $hover-border-width;
    width: $cover-width - $hover-border-width;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .article-card--with-brand > .article-card__content > .article-card__author-brand {
    margin-bottom: 36px;
  }
}

.card-size-xl {
  @include shared-size-xl;
}

@mixin shared-size-l {
  $card-height: 390px;
  $card-width: 624px;
  $cover-height: $card-height;
  $cover-width: 240px;

  @include shared-sizes-xxl-xl-l;

  .article-card {
    height: $card-height;
    width: $card-width;

    &__cover-container {
      height: $cover-height;
      width: $cover-width;
    }

    &__cover {
      height: $cover-height;
      width: $cover-width;
    }

    &__content {
      padding: 0 42px 0 30px;
    }

    &__title {
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 24px;
      margin-top: 24px;
      max-height: 36px * 3;
    }

    &__description-container {
      font-size: 14px;
      line-height: 24px;
    }

    &__description {
      max-height: 24px * 5; // TEMP. There should be 7 rows here. There is no enough space on 3-row titles.
    }

    &__author-brand {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 48px;
    }

    &__brand {
      margin-right: 18px;
    }
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .article-card.theme-dark > .article-card__cover-container {
    height: $cover-height - 2 * $theme-dark-border-width;
    width: $cover-width - $theme-dark-border-width;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .article-card:hover > .article-card__cover-container {
    height: $cover-height - 2 * $hover-border-width;
    width: $cover-width - $hover-border-width;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .article-card--with-brand > .article-card__content > .article-card__author-brand {
    margin-bottom: 36px;
  }
}

.card-size-l {
  @include shared-size-l;
}

@mixin shared-size-m {
  .article-card {
    @include m-sizes;

    flex-direction: row;

    &__cover-container {
      height: 300px;
      width: 184px;
    }

    &__cover {
      height: 300px;
      width: 184px;

      &--vertical {
        display: unset;
      }
    }

    &__content {
      padding: 0 30px 0 11px;
    }

    &__collection-container {
      margin-top: 24px;
    }

    &__collection-order {
      font-size: 14px;
      line-height: 21px;
    }

    &__collection-name {
      font-size: 14px;
      line-height: 21px;
    }

    &__collection-cover {
      height: 70px;
      width: 70px;
    }

    &__title {
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 24px;
      margin-top: 24px;
      max-height: 36px * 3;
    }

    &__description-container {
      display: none;
    }

    &__author-brand {
      font-size: 14px;
      line-height: 24px;
    }

    &__brand {
      margin-right: 18px;
    }

    &__filler--bottom {
      display: unset;
    }

    &__label-read-full {
      display: unset;
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 36px;
    }
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .article-card.theme-dark > .article-card__cover-container {
    height: 300px - 2 * $theme-dark-border-width;
    width: 184px - $theme-dark-border-width;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .article-card:hover > .article-card__cover-container {
    height: 300px - 2 * $hover-border-width;
    width: 184px - $hover-border-width;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .article-card--with-collection > .article-card__content > .article-card__title {
    margin-bottom: 12px;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .article-card--with-collection > .article-card__content > .article-card__author-brand {
    margin-bottom: 36px;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .article-card--with-collection > .article-card__content > .article-card__filler--bottom {
    display: none;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .article-card--with-collection > .article-card__content > .article-card__label-read-full {
    display: none;
  }
}

.card-size-m {
  @include shared-size-m;
}

@mixin shared-sizes-square-s-square-m {
  // Rules common for 'square-m' and square-s' sizes.
  .article-card {
    flex-direction: column;

    &__cover-container {
      flex-shrink: 1;

      &--with-collection {
        display: none;
      }
    }

    &__cover {
      object-fit: cover;
      position: absolute;

      &--horizontal {
        display: unset;
      }
    }

    &__content {
      flex-grow: 1;
      flex-shrink: 0;
      justify-content: flex-end;
    }

    &__description-container {
      display: none;
    }

    &__collection-container {
      margin-top: 19px;
    }

    &__collection-order {
      font-size: 14px;
      line-height: 24px;
    }

    &__collection-name {
      font-size: 14px;
      line-height: 21px;
    }

    &__collection-cover {
      height: 70px;
      width: 70px;
    }

    &__title {
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 20px; // ?
      margin-top: 10px; // ?
      max-height: 36px * 3;
    }

    &__author-brand {
      font-size: 14px;
      line-height: 24px;
    }

    &__brand {
      margin-right: 12px;
    }
  }
}

@mixin shared-size-square-m {
  @include shared-sizes-square-s-square-m;

  .article-card {
    @include square-m-sizes;

    &__cover-container {
      flex-basis: 240px;
      max-height: 240px;
      min-height: 168px;
      width: 390px;
    }

    &__cover {
      height: 240px;
      width: 390px;
    }

    &__content {
      padding: 0 39px;
    }

    &__author-brand {
      margin-bottom: 48px;
    }
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .article-card.theme-dark > .article-card__cover-container {
    max-height: 240px - $theme-dark-border-width;
    min-height: 168px - $theme-dark-border-width;
    width: 390px - 2 * $theme-dark-border-width;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .article-card:hover > .article-card__cover-container {
    max-height: 240px - $hover-border-width;
    min-height: 168px - $hover-border-width;
    width: 390px - 2 * $hover-border-width;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .article-card--with-brand > .article-card__content > .article-card__author-brand {
    margin-bottom: 36px;
  }
}

.card-size-square-m {
  @include shared-size-square-m;
}

@mixin shared-size-square-s {
  @include shared-sizes-square-s-square-m;

  .article-card {
    @include square-s-sizes;

    &__cover-container {
      flex-basis: 168px;
      max-height: 168px;
      min-height: 96px;
      width: 300px;
    }

    &__cover {
      height: 168px;
      width: 300px;
    }

    &__content {
      padding: 0 24px;
    }

    &__author-brand {
      margin-bottom: 36px;
    }
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .article-card.theme-dark > .article-card__cover-container {
    max-height: 168px - $theme-dark-border-width;
    min-height: 96px - $theme-dark-border-width;
    width: 300px - 2 * $theme-dark-border-width;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .article-card:hover > .article-card__cover-container {
    max-height: 168px - $hover-border-width;
    min-height: 96px - $hover-border-width;
    width: 300px - 2 * $hover-border-width;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .article-card--with-brand > .article-card__content > .article-card__author-brand {
    margin-bottom: 24px;
  }
}

.card-size-square-s {
  @include shared-size-square-s;
}

// Below are the rules for cards to be auto adjustable.
// TODO(?): to wrap with .card-size-auto class.

.featured {
  @include screen-desktop {
    @include shared-size-xxl;
  }

  @include screen-tablet-large {
    @include shared-size-xl;
  }

  @include screen-tablet {
    @include shared-size-l;
  }

  @include screen-touch {
    @include shared-size-m;
  }

  @include screen-mobile {
    @include shared-size-square-s;
  }
}

.two-in-row {
  @include screen-desktop {
    @include shared-size-m;
  }

  @include screen-tablet {
    @include shared-size-l;
  }

  @include screen-touch {
    @include shared-size-m;
  }

  @include screen-mobile {
    @include shared-size-square-s;
  }

  &__first {
    @include screen-tablet-large {
      @include shared-size-m;
    }
  }

  &__second {
    @include screen-tablet-large {
      @include shared-size-square-s;
    }
  }
}

.articles-by-tag-2 {
  @include screen-desktop {
    @include shared-size-square-m;
  }

  @include screen-tablet-large {
    @include shared-size-l;
  }

  @include screen-tablet {
    @include shared-size-square-m;
  }

  @include screen-touch {
    @include shared-size-m;
  }

  @include screen-mobile {
    @include shared-size-square-s;
  }
}

.articles-by-tag-3 {
  @include screen-desktop {
    @include shared-size-square-s;
  }

  @include screen-tablet-large {
    @include shared-size-square-m;
  }

  @include screen-tablet {
    @include shared-size-square-s;
  }

  @include screen-touch {
    @include shared-size-m;
  }

  @include screen-mobile {
    @include shared-size-square-s;
  }
}

.tag-page-block-b {
  .large-card {
    @include screen-desktop {
      @include shared-size-l;
    }

    @include screen-tablet-large {
      @include shared-size-m;
    }

    @include screen-tablet {
      @include shared-size-l;
    }

    @include screen-touch {
      @include shared-size-m;
    }

    @include screen-mobile {
      @include shared-size-square-s;
    }
  }

  .small-card {
    @include screen-desktop {
      @include shared-size-square-m;
    }

    @include screen-tablet-large {
      @include shared-size-square-s;
    }

    @include screen-tablet {
      @include shared-size-l;
    }

    @include screen-touch {
      @include shared-size-m;
    }

    @include screen-mobile {
      @include shared-size-square-s;
    }
  }
}

.tag-page-block-cd {
  &__style-row-of-two {
    @include screen-desktop {
      @include shared-size-m;
    }

    @include screen-tablet-large {
      @include shared-size-square-m;
    }

    @include screen-tablet {
      @include shared-size-l;
    }

    @include screen-touch {
      @include shared-size-m;
    }

    @include screen-mobile {
      @include shared-size-square-s;
    }
  }

  &__style-row-of-three {
    @include screen-desktop {
      @include shared-size-square-s;
    }

    @include screen-tablet-large {
      @include shared-size-l;
    }

    @include screen-tablet {
      @include shared-size-l;
    }

    @include screen-touch {
      @include shared-size-m;
    }

    @include screen-mobile {
      @include shared-size-square-s;
    }
  }
}
