@import 'responsiveness';

@import './cards';

.article {
  border-radius: 3px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  position: relative;

  &.theme-dark {
    color: #000000;
  }

  &__cover {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &__brand {
    position: absolute;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
  }

  &__title {
    font-weight: bold;
  }

  &__author {
    font-size: 14px;
    line-height: 21px;
  }

  &__content-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

@mixin shared-size-xxl {
  .article {
    @include xxl-sizes;

    &__cover-wrapper {
      max-width: 390px;
      min-width: 390px;
    }

    &__brand {
      height: 53px;
      left: 49px;
      top: 32px;
      width: 118px;
    }

    &__content {
      padding: 30px 60px 66px 30px;
    }

    &__title {
      font-size: 60px;
      line-height: 72px;
    }

    &__author {
      margin-top: 24px;
    }

    &__content-bottom {
      font-size: 20px;
      line-height: 36px;
    }
  }
}

// .size-xxl {
//   @include shared-size-xxl;
// }

@mixin shared-size-xl {
  .article {
    @include xl-sizes;

    &__cover-wrapper {
      max-width: 313px;
      min-width: 313px;
    }

    &__brand {
      height: 42px;
      left: 39px;
      top: 26px;
      width: 94px;
    }

    &__content {
      padding: 24px 62px 48px 23px;
    }

    &__title {
      font-size: 60px;
      line-height: 72px;
    }

    &__author {
      margin-top: 24px;
    }

    &__content-bottom {
      font-size: 14px;
      line-height: 21px;
    }
  }
}

// .size-xl {
//   @include shared-size-xl;
// }

@mixin shared-size-l {
  .article {
    @include l-sizes;

    &__cover-wrapper {
      max-width: 240px;
      min-width: 240px;
    }

    &__brand {
      height: 33px;
      left: 30px;
      top: 36px;
      width: 72px;
    }

    &__content {
      padding: 28px 42px 42px 30px;
    }

    &__title {
      font-size: 30px;
      line-height: 36px;
    }

    &__author {
      margin-top: 18px;
    }

    &__content-bottom {
      font-size: 14px;
      line-height: 21px;
    }
  }
}

// .size-l {
//   @include shared-size-l;
// }

@mixin shared-size-m {
  .article {
    @include m-sizes;

    &__cover-wrapper {
      max-width: 186px;
      min-width: 186px;
    }

    &__brand {
      height: 33px;
      left: 30px;
      top: 28px;
      width: 72px;
    }

    &__content {
      padding: 30px 30px 42px 24px;
    }

    &__title {
      font-size: 30px;
      line-height: 36px;
    }

    &__author {
      margin-top: 12px;
    }

    &__content-bottom {
      font-size: 14px;
      line-height: 21px;
    }

    &__description {
      display: none;
    }
  }
}

// .size-m {
//   @include shared-size-m;
// }

@mixin shared-square-articles {
  .article {
    flex-direction: column;

    &__brand {
      height: 33px;
      left: 30px;
      top: 30px;
      width: 72px;
    }

    &__content {
      bottom: 0;
      display: flex;
      flex-direction: column;
      position: absolute;
      text-align: center;
    }

    &__title {
      text-align: center;
    }

    &__author {
      font-size: 14px;
      line-height: 21px;
      margin-top: 5px;
      text-align: center;
    }
  }
}

// .square-article {
//   @include shared-square-article;
// }

@mixin shared-size-square-m {
  @include shared-square-articles;

  .article {
    @include square-m-sizes;

    &__cover-wrapper {
      height: 240px;
    }

    &__content {
      padding: 0 39px 42px;
    }

    &__title {
      font-size: 30px;
      line-height: 36px;
    }
  }
}

// .size-square-m {
//   @include shared-size-square-m;
// }

@mixin shared-size-square-s {
  @include shared-square-articles;

  @include square-s-sizes;

  margin: 0;

  .article {
    @include square-s-sizes;

    &__cover-wrapper {
      height: 186px;
    }

    &__content {
      padding: 0 10px 42px;
    }

    &__title {
      font-size: 20px;
      line-height: 24px;
    }
  }
}

// .size-square-s {
//   @include shared-size-square-s;
// }

// MEDIA QUERIES FOR BLOCKS.

// [DESKTOP]: 'square-m',
// [TABLET_LARGE]: 'l',
// [TABLET]: 'square-m',
// [TOUCH]: 'm',
// [MOBILE]: 'square-s',

// Below is a set of rules for cards to be auto adjustable:
.articles-by-tag-2 {
  // Being inside of a block automatically means all cards are auto adjustable.

  @include screen-desktop {
    @include shared-size-square-m;
  }

  @include screen-tablet-large {
    @include shared-size-l;
  }

  @include screen-tablet {
    @include shared-size-square-m;
  }

  @include screen-touch {
    @include shared-size-m;
  }

  @include screen-mobile {
    @include shared-size-square-s;
  }
}

.featured {
  //const CARD_SIZE = {
  //   [DESKTOP]: 'xxl',
  //   [TABLET_LARGE]: 'xl',
  //   [TABLET]: 'l',
  //   [TOUCH]: 'm',
  //   [MOBILE]: 'square-s',
  // };

  @include screen-desktop {
    @include shared-size-xxl;
  }

  @include screen-tablet-large {
    @include shared-size-xl;
  }

  @include screen-tablet {
    @include shared-size-l;
  }

  @include screen-touch {
    @include shared-size-m;
  }

  @include screen-mobile {
    @include shared-size-square-s;
  }
}
