@import 'responsiveness';
@import 'variables';

@import './cards';

.wir-card-wrapper {
  &.theme-light {
    box-shadow: inset $theme-dark-border-width $theme-dark-border-width
      $primary-widescreen-background,
      inset (-$theme-dark-border-width) (-$theme-dark-border-width) $primary-widescreen-background;
    color: $primary-black;
  }

  &:hover {
    @media (hover: hover) {
      box-shadow: inset $hover-border-width $hover-border-width $primary,
        inset (-$hover-border-width) (-$hover-border-width) $primary;
    }
  }
}
