@import 'styles/responsiveness';
@import 'styles/variables';

@import './cards';

.wir-card-wrapper {
  color: $primary-white;

  &.theme-light {
    color: $primary-black;
  }

  &:hover {
    @media (hover: hover) {
      // stylelint-disable-next-line declaration-no-important
      box-shadow: inset $border-width-hover $border-width-hover $primary,
        inset (-$border-width-hover) (-$border-width-hover) $primary !important;
    }
  }
}

@mixin card-border {
  box-shadow: inset $border-width-default $border-width-default $primary-widescreen-background,
    inset (-$border-width-default) (-$border-width-default) $primary-widescreen-background;
}

.wir-no-background {
  .wir-card-wrapper.theme-white {
    @include card-border;
  }
}

.wir-with-background {
  .wir-card-wrapper.theme-black {
    @include card-border;
  }
}
