@import 'responsiveness';

@import './cards';

.person {
  background-color: #000000;
  border-radius: 3px;
  color: #ffffff;
  display: flex;
  flex-direction: row-reverse;
  position: relative;

  &.theme-dark {
    color: #000000;
  }

  &__cover-wrapper {
    height: 100%;
  }

  &__cover {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__years {
    font-size: 14px;
    line-height: 18px;
  }

  &__title {
    font-weight: bold;
  }
}

@mixin shared-size-l {
  .person {
    @include l-sizes;

    &__cover-wrapper {
      width: 390px;
    }

    &__content {
      bottom: 42px;
      left: 30px;
      position: absolute;
      width: 240px;
    }

    &__title {
      font-size: 72px;
      line-height: 72px;
      margin-top: 18px;
    }

    &__description {
      font-size: 14px;
      line-height: 21px;
      margin-top: 19px;
    }
  }
}

.size-l {
  @include shared-size-l;
}

@mixin shared-size-square-m {
  .person {
    @include square-m-sizes;

    &__cover-wrapper {
      width: 100%;
    }

    &__content {
      bottom: 42px;
      left: 30px;
      position: absolute;
      right: 48px;
      width: 100%;
    }

    &__title {
      font-size: 48px;
      line-height: 60px;
      margin-top: 18px;
    }

    &__description {
      display: none;
    }
  }
}

.size-square-m {
  @include shared-size-square-m;
}

@mixin shared-size-square-s {
  .person {
    @include square-s-sizes;

    &__cover-wrapper {
      width: 100%;
    }

    &__content {
      bottom: 42px;
      left: 23px;
      position: absolute;
      right: 37px;
      width: 100%;
    }

    &__title {
      font-size: 48px;
      line-height: 60px;
    }

    &__description {
      display: none;
    }
  }
}

.size-square-s {
  @include shared-size-square-s;
}

@mixin shared-sizes-ms-s-wide {
  .person {
    &__cover-wrapper {
      width: 194px;
    }

    &__content {
      bottom: 42px;
      left: 30px;
      position: absolute;
      width: 230px;
    }

    &__title {
      font-size: 30px;
      line-height: 36px;
    }

    &__description {
      display: none;
    }
  }
}

@mixin shared-size-ms {
  @include shared-sizes-ms-s-wide;

  .person {
    @include ms-sizes;
  }
}

.size-ms {
  @include shared-size-ms;
}

@mixin shared-size-s-wide {
  @include shared-sizes-ms-s-wide;

  .person {
    @include s-wide-sizes;
  }
}

.size-s-wide {
  @include shared-size-s-wide;
}

@mixin shared-size-s {
  .person {
    @include s-sizes;

    &__cover-wrapper {
      width: 194px;
    }

    &__content {
      bottom: 42px;
      left: 30px;
      position: absolute;
      width: 230px;
    }

    &__title {
      font-size: 48px;
      line-height: 60px;
    }

    &__description {
      display: none;
    }
  }
}

.size-s {
  @include shared-size-s;
}

@mixin shared-size-xs-wide {
  .person {
    @include xs-wide-sizes;

    &__cover-wrapper {
      width: 194px;
    }

    &__content {
      bottom: 42px;
      left: 30px;
      position: absolute;
      width: 150px;
    }

    &__title {
      font-size: 30px;
      line-height: 36px;
      margin-top: 7px;
    }

    &__description {
      display: none;
    }
  }
}

.size-xs-wide {
  @include shared-size-xs-wide;
}

@mixin shared-size-xs {
  .person {
    @include xs-sizes;

    &__cover-wrapper {
      width: 194px;
    }

    &__content {
      bottom: 42px;
      left: 30px;
      position: absolute;
      width: 150px;
    }

    &__title {
      font-size: 30px;
      line-height: 36px;
      margin-top: 7px;
    }

    &__description {
      display: none;
    }
  }
}

.size-xs {
  @include shared-size-xs;
}

// Below are the rules for cards to be auto adjustable.

.tags-by-topic {
  &__1 {
    @include screen-desktop {
      @include shared-size-l;
    }

    @include screen-tablet-large {
      @include shared-size-square-m;
    }

    @include screen-tablet {
      @include shared-size-square-m;
    }

    @include screen-mobile {
      @include shared-size-l;
    }
  }

  &__2 {
    @include screen-desktop {
      @include shared-size-s;
    }

    @include screen-tablet-large {
      @include shared-size-s-wide;
    }

    @include screen-tablet {
      @include shared-size-xs;
    }

    @include screen-touch {
      @include shared-size-ms;
    }

    @include screen-mobile {
      @include shared-size-xs-wide;
    }
  }
}
