@import 'responsiveness';
@import 'variables';

.tag-card {
  //
}

@mixin tag-card-radius($bottom-left: false, $bottom-right: false, $top-left: false, $top-right: false) {
  $tag-card-border-radius: 3px;

  .tag-card {
    @if $bottom-left {
      border-bottom-left-radius: $tag-card-border-radius;
    }

    @if $bottom-right {
      border-bottom-right-radius: $tag-card-border-radius;
    }

    @if $top-left {
      border-top-left-radius: $tag-card-border-radius;
    }

    @if $top-right {
      border-top-right-radius: $tag-card-border-radius;
    }

    .person {
      &__cover {
        @if $bottom-right {
          border-bottom-right-radius: $tag-card-border-radius;
        }

        @if $top-right {
          border-top-right-radius: $tag-card-border-radius;
        }
      }
    }
  }
}

.tags-by-topic {
  // On 'mobile' and 'touch' screens there is no difference between '1-2' and '2-1' block styles.

  &__2-top {
    @include screen-touch {
      @include tag-card-radius($top-left: true, $top-right: true);
    }

    @include screen-mobile {
      @include tag-card-radius($top-left: true, $top-right: true);
    }
  }

  &__2-bottom {
    @include screen-touch {
      @include tag-card-radius($bottom-left: true, $bottom-right: true);
    }

    @include screen-mobile {
      @include tag-card-radius($bottom-left: true, $bottom-right: true);
    }
  }
}

.tags-by-topic--style-1-2 {
  .tags-by-topic {
    &__1 {
      @include tag-card-radius($bottom-left: true, $top-left: true);
    }

    &__2-top {
      @include screen-desktop {
        @include tag-card-radius($top-right: true);
      }

      @include screen-tablet-large {
        @include tag-card-radius($top-right: true);
      }

      @include screen-tablet {
        @include tag-card-radius($top-right: true);
      }
    }

    &__2-bottom {
      @include screen-desktop {
        @include tag-card-radius($bottom-right: true);
      }

      @include screen-tablet-large {
        @include tag-card-radius($bottom-right: true);
      }

      @include screen-tablet {
        @include tag-card-radius($bottom-right: true);
      }
    }
  }
}

.tags-by-topic--style-2-1 {
  .tags-by-topic {
    &__1 {
      @include tag-card-radius($bottom-right: true, $top-right: true);
    }

    &__2-top {
      @include screen-desktop {
        @include tag-card-radius($top-left: true);
      }

      @include screen-tablet-large {
        @include tag-card-radius($top-left: true);
      }

      @include screen-tablet {
        @include tag-card-radius($top-left: true);
      }
    }

    &__2-bottom {
      @include screen-desktop {
        @include tag-card-radius($bottom-left: true);
      }

      @include screen-tablet-large {
        @include tag-card-radius($bottom-left: true);
      }

      @include screen-tablet {
        @include tag-card-radius($bottom-left: true);
      }
    }
  }
}
