// https://github.com/FortAwesome/Font-Awesome/issues/14387#issuecomment-458715148
$fa-font-display: swap;

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&display=swap');

@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/solid';

// Overwriting h1 defaults from user agent stylesheet and normalize.css.
h1 {
  font-size: unset;
  font-weight: unset;
  margin: unset;
  margin-block-end: unset;
  margin-block-start: unset;
  margin-inline-end: unset;
  margin-inline-start: unset;
}
