$primary: #1a9582;
$primary-dark: #103a2a;

// Link light theme: on hover.
// Link dark theme: default and on click.
$primary-caribbean-green: #0dc6aa;

// Link dark theme: on hover.
$primary-bright-turquoise: #00ffd8;

$primary-grey: #888888;
$primary-concrete: #f2f2f2;
$primary-widescreen-background: #c4c4c4;
$primary-grey-article-table: #cccccc;

$primary-black: #000000;
$primary-white: #ffffff;

// Social networks official colors
$facebook-color: #3b5998;
$vk-color: #45668e;
$twitter-color: #1da1f2;
$google-plus-color: #d34836;
$instagram-color: #517fa4;
$telegram-color: #0088cc;
$youtube-color: #bb0000;
$odnoklassniki-color: #ed812b;

$error: #e21017;

$tag-image-height: 48px;

$zindex: (
  sidebar-overlay: 100,
  sidebar: 200,
  modal-background: 300,
  modal-content: 400,
  button-go-up: 500,
);

$min-website-width: 330px;

$default-font-size: 16px;

$content-font-size: (
  desktop: 20px,
  tablet-large: 20px,
  tablet: 18px,
  touch: 18px,
  mobile: 16px,
);

$content-line-height: (
  desktop: 36px,
  tablet-large: 33px,
  tablet: 30px,
  touch: 30px,
  mobile: 24px,
);
